<footer>
  <p>&copy; <span id="current-year"></span> Pratham Patel. All Rights Reserved.</p>
  <nav class="terms">
    <a href="/terms_and_conditions">Terms and Conditions</a>
  </nav>
  <link rel="stylesheet" href="/css/style.css">
</footer>

<script>
  // JavaScript to get the current year and set it in the footer
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
