<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog/page/0/">Blogs</a>
    <a href="/about/page/0/">About</a>
    <a href="/destinations">Destinations</a>
    <a href="/labs">Labs</a>
    <a href="/lab02">Lab-02</a>
    <a href="/contact/">Contact Me</a>
  </nav>
  <link rel="stylesheet" href="/css/style.css">
</header>
