---
title: "Wanderlust - Explore the World"
layout: "layout/default.liquid"
---
<h1>Welcome to Wanderlust!</h1>
<p>Embark on a journey to explore breathtaking travel destinations. From sandy beaches to bustling cities, this is your go-to blog for travel tips and adventures.</p>


<a href="blog/page/0/" class="btn btn-primary">Visit Our Blog</a>
<link rel="stylesheet" href="/css/style.css">